/* ----- FOOTER ----- */
footer {
background-color: #000000;
color: #ccc;
text-align: center;
padding: 25px 20px;
font-size: 14px;
margin-top: 40px;
}

footer a {
color: #00bcd4;
text-decoration: none;
font-weight: bold;
}

footer a:hover {
text-decoration: underline;
}

/* ----- FOOTER PEGADO ABAJO ----- */
html, body {
height: 100%;
}

body {
display: flex;
flex-direction: column;
min-height: 100vh;
}

main {
flex: 1;
}
