/* Estilo base */
body {
margin: 0;
font-family: 'Poppins', sans-serif;
background-color: #afdfe2;
color: #333;
}

/* Contenedor principal */
.contenido-principal {
padding: 40px 60px;
max-width: 900px;
margin: auto;
text-align: justify;
}

/* Sección de bienvenida */
.bienvenida h1 {
color: #0f0505;
font-size: 36px;
margin-bottom: 10px;
text-align: center;
}

.bienvenida p {
font-size: 18px;
line-height: 1.7;
color: #1d1616;
}

.bienvenida img {
    display: block;
    margin: 0 auto;
}

/* Sección de importancia */
.importancia {
margin-top: 60px;
background-color: #ffe8d6;
padding: 30px;
border-radius: 12px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.importancia h2 {
color: #817c77;
font-size: 26px;
margin-bottom: 15px;
}

.importancia p {
font-size: 17px;
color: #4a3f3f;
line-height: 1.6;
}
